@tailwind base;
@tailwind components;
@tailwind utilities;
/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/



:root {
  --white: #fff;
  --light-border: #ccc;
  --danger: #ff0000;
/*  --primary-color: #a4a4f7;
  --primary-color-light: #7373f9;*/
  --secondary-color: #f0f8ff;
  --shadow-color: #ddd;
  /*font-family: 'Poppins', sans-serif;*/
  font-size: 12px;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.row {
  margin: 10px 20px;
}

.row-remember {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--light-border);
  padding: 0 0 15px 0;
}

.container form {
  background-color: var(--secondary-color);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 12px 12px 10px var(--shadow-color);
  flex: 1;
}

@media screen and (min-width: 768px) {
  .container form {
    flex: 0.5;
    max-width: 900px;
  }
}

.form-header {
  text-align: center;
  font-size: 1.5rem;
}

.form-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid var(--light-border);
  border-radius: 5px;
}

.form-field.has-error {
  border: 1px solid var(--danger);
}


.error-label {
  color: var(--danger);
}


.alert {

	margin-top:5px;
	margin-bottom: 40px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex:1;
	justify-content: center;
	align-items: center;
	
	
}
